* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_img {
  position: relative;
  overflow-y: hidden;
}
.card_img::before {
  content: "";
  display: block;
  padding-top: 125%;
  box-shadow: 0 0 12px 4px #000 inset;
  position: relative;
  z-index: 1;
}
.card_img img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
}
.modal.show {
  display: block;
}

.rating_item {
  margin-bottom: 10px;
}

.rating_scale {
  margin-top: 5px;
  border: 1px solid #efefef;
  height: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  /* ff 3.6+ */
  background: -moz-linear-gradient(90deg, #ff1700 0%, #c8d400 50%, #1d9e03 100%);
  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, #ff1700 0%, #c8d400 50%, #1d9e03 100%);
  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, #ff1700 0%, #c8d400 50%, #1d9e03 100%);
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1D9E03", endColorstr="#FF1700", GradientType=0 );
  /* ie 10+ */
  background: -ms-linear-gradient(90deg, #ff1700 0%, #c8d400 50%, #1d9e03 100%);
  /* global 94%+ browsers support */
  background: linear-gradient(90deg, #ff1700 0%, #c8d400 50%, #1d9e03 100%);
}
.rating_scale span {
  display: inline-block;
  height: 10px;
  background-color: #dcdcdc;
  position: absolute;
  right: 0;
  top: 0;
}